extends _template-account

block main
	.max-width-login
		// header
		.page__header
			header.main-header.main-header--login
				.main-header__body
					.container
						.centered
							.main-header__logo.main-header__logo--login
								a(href="/"): img(src="img/logo-small.png", alt="Убойный ЗОЖ", title="Убойный ЗОЖ")
								h1.page-type пионерский отряд <br> <span>6 000 руб</span>
								p.page-type__desc.tt Собери команду из 4 человек любого пола <br> и сэкономь 2000 рублей.
								.sep
		// header end
		// form
		.login-form
			form(action="#").form-auth
				label
					span.form-title Ваше имя
					input(type="text" name="name" required).input--default
				label
					span.form-title Ваша электронная почта
					input(type="email" name="email" required).input--default
				label
					span.form-title Способ оплаты
					select(name="pay").select--default
						option Способ1
						option Способ2
						option Способ3
						option Способ4
				.form-agree
					input(type="checkbox").checkbox--big
					span Я ознакомился с <a href="#form-oferta" class="fancybox link">договором оферты<br> </a> и <a href="#form-oferta" class="fancybox link">правилами конкурса</a>
				.sep
				input(type="submit" value="Оплатить").btn.btn--orng
		// form end
		// popups
		#form-oferta.hidden
			span.header ДОГОВОР ОФЕРТЫ
			p В соответствии со ст.426 Гражданского Кодекса РФ публичный договор является одним из видов договоров, в соответствии с которым одна сторона принимает на себя обязательство по оказанию услуг в отношении неопределенного круга лиц, обратившихся с запросом на предоставление данных услуг.
			p Публичный договор не требует оформления на бумаге и его последующего подписания сторонами, обладает юридической силой в силу совершения сторонами определенных действий указывающих на их волеизъявление вступить в договорные отношения.
			p В частности, публикация (размещение) текста публичного договора на официальном сайте компании является публичным предложением (офертой) компании, адресованным широкому кругу лиц с целью оказания определенных видов услуг. Фактом, подтверждающим заключение публичного договора со стороны потребителя услуг, является оформление им заявки на предоставление услуг и их последующая оплата.
			p Публичный договор, совершенный в вышеописанном порядке, считается заключенным в простой письменной форме и соответственно не требует оформления на бумаге и обладает полной юридической силой.